@import "../../../style/variables.scss";

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  li {
    margin: $spacing-30;
  }
}
