@import "../style/variables";

.main-app-container {
  width: 100%;
  display: block;
}
.main-router-outlet-container {
  padding: $main-desktop-padding;
  margin: $spacing-50 auto;
  max-width: $content-max-width;
}
